.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .inner {
  width: 90%;
  max-width: 800px;
  max-height: 90vh;
  padding: 5%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.youtube-frame {
  width: 100%;
  aspect-ratio: 16 / 9; /* 비율 유지 */
}

.youtube-frame iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.close {
  width: 30px;
  height: 30px;
  margin-bottom: 30px;
  border-radius: 100%;

  cursor: pointer;

  transition: all 0.3s ease;

  /* 글래스 효과 */
  background: var(--glass-background);
  backdrop-filter: var(--glass-filter);
  box-shadow: var(--glass-shadow);
  border: var(--glass-border);
  color: var(--white);
  /* 글래스 효과 */a
}
.close:hover {
  transition: all 0.3s ease;
  /* 글래스 효과 */
  background: var(--glass-background-hover);
  box-shadow: var(--glass-shadow-hover);
  border: var(--glass-border-hover);
  /* 글래스 효과 */
}
