/* 변수 */
@import url("/src/index.css");

.banner {
  width: 100%;
  height: 800px;

  position: relative;
}
.banner:before {
  content: "";
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, var(--black), transparent);
}
.banner .banner-img {
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.banner .banner-text {
  width: 90%;
  margin-top: auto;

  position: absolute;
  left: 5%;
  bottom: 80px;
  z-index: 2;

  letter-spacing: 0;
}
.banner .banner-text h2 {
  color: var(--white);
  font-family: var(--kor);
  font-size: 4.8rem;
  letter-spacing: 0;
  font-weight: 900;

  margin-bottom: 20px;
}
.banner .banner-text p {
  color: var(--white);
  font-size: 1.4rem;
  letter-spacing: 0;
}
