/* 변수 */
@import url("/src/index.css");

body {
  background: black;
  width: 100%;
  height: 100vh;

  color: var(--white);
}

.w1560 {
  width: 100%;
  margin: 0 auto;
  max-width: 1560px;
}
// 오류시 메세지
.message {
  font-size: 2rem;
  letter-spacing: 0;
  color: red;
}

/**** 헤더 ****/
.wrapper {
  width: 100%;
}
.header {
  max-width: 1760px;
  box-sizing: border-box;
  margin: 0 auto;

  display: flex;
  align-items: center;

  padding: 16px 0;
  box-sizing: border-box;
}
.header .logo img {
  width: 120px;
  height: auto;
}
.header .menus {
  display: flex;
  align-items: center;
  gap: 20px;

  margin-left: 25px;
}
.header .menus li a {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0;

  transition: all 0.3s ease;
}
.header .menus li a:hover {
  color: var(--white);
}
.header .search {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .search input {
  background: rgba(255, 255, 255, 0.3);
  border-radius: var(--borderR5);
  border: 1px solid transparent;

  height: 30px;
  padding: 10px;
  box-sizing: border-box;
  color: var(--white);
  font-size: 1rem;
}
.header .search input:placeholder {
  color: var(--white);
}
.header .search button {
  height: 32px;
  line-height: 32px;

  padding: 0 10px;
  box-sizing: border-box;

  color: var(--white);
  font-size: 1rem;
  letter-spacing: 0;

  background: transparent;
  border-radius: var(--borderR5);

  border: 1px solid var(--pink);

  cursor: pointer;

  transition: all 0.3s ease;
}
.header .search button:hover {
  background: var(--pink);
}

/*******************************************************************************
    @media 1800px
*******************************************************************************/
@media all and (max-width: 1800px) {
  .header {
    padding: 16px 5%;
  }
}
